.card{
    border-radius: 25px;
background-color: #FFF;
}

.card-image{
    position: relative; 
    height: 150px;
    width: 150px;
    border-radius: 150%;
    background-color: #FFF;
    padding: 9px;
 }
 
 
 .card-image .card-img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     border-radius: 150%; 
     border: 4px solid #4070F4;
 }

 body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
 }

 .slide-content{
    margin: 0 40px;
 }