/* Reset standaardmarges en padding */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Basisopmaak */
body {
    font-family: 'Arial', sans-serif;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimaliseer viewport-hoogte om ervoor te zorgen dat de footer altijd onderaan staat */
}

header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #222;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    flex-grow: 1; /* Laat de hoofdinhoud groeien om de beschikbare ruimte in te nemen */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 10px 0;
}
 img {
    width: 200px;
 }
